h1 {color: #ff0000; font: 2em;}


a:link {color: #000fff;}
a:visited {color: hsl(0, 0%, 95%);}
a:hover {color: #999999;}

nav {background-color: #999999;}
nav a:hover {background-color: #0000ff;}
nav {
    padding: 10px;
    margin-bottom: 30px;
    inline-size: 100%;
}

parent_selector selector {color: #ff0000; }

.class0 {float: right;}

.class1 {float: left;
padding: 20px; background-color: #00ff00; border-radius: 15px 50px 30px 5px;} 
.class2 {float: left; padding: 20px; background-color: #ff0000; border-radius: 15px 50px 30px 5px;}

.class3 {float: right;}
.class4 {float: left;}

.classyerd {max-width: 100%;}

.parent {flex-wrap: wrap;}


